{% extends 'base.html' %}
{% block title %}Change Password{% endblock %}
{% block content %}

<div class="container">
    <h1>Change Password</h1>
    <br/><br/>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            <!-- Cross Site Forgery Token / This is so that between acceptance and submission, data cannot be stolen -->
            {{ form.as_p }}
            <button>Update Password</button><br/><br/>
            
    <ul>
        <li>Your password can't be too similar to
        your other personal information. </li>
        <li>Your password must contain at least 8
        characters.</li>
        <li>Your password can't be a commonly used
        password.</li>
        <li>Your password can't be entirely numeric.</li>
    </ul>
        
    </div>
</div>
 {% endblock %}