{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}

<div class="container">

{% if not user.is_authenticated %}

<br/><br/>
<h1>Login</h1>
<br/><br/>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <!-- Cross Site Forgery Token / This is so that between acceptance and submission, data cannot be stolen -->
        <div class="form-group col-sm-6 col-form-label">
            <label for="exampleInputPassword1">Username</label>
            <input type="text" class="form-control" name="username" placeholder="Enter Username">
        </div>
        <br/>
        <div class="form-group col-sm-6 col-form-label">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Enter Password">
        </div>
        <br/>
        <button>Login</button>
        <br/><p>Not yet registered? Sign up <a href="{% url 'registration' %}">here!</a></p>
    </form>
</div>

{% else %}

<h2>You are already logged in! Press <a href="{% url 'home' %}">here</a> to go back home</h2>

{% endif %}

</div>
{% endblock %}