{% extends 'base.html' %}

<div class="owl-carousel owl-theme">
    {% for Post in object_list %}
    <div class="item">
      <div class="card h-20 card-home bg-transparent border-0">
        <div class="card-body">
          <a href="{% url 'movie-detail' Post.pk %}">
            <img
              class="card-img-top owl-book-listing"
              src=" {{ Post.header_image.url }}"
              alt="{{ Post.title }}"
            />
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>

{% block content %}
        <div class="owl-carousel owl-theme">
            {% if category_posts %}
                {% for Post in category_posts %}
                    <div class="item">
                        <div class="card h-20 card-home bg-transparent border-0">
                          <div class="card-body">
                            <a href="{% url 'movie-detail' Post.pk %}">
                              <img
                                class="card-img-top owl-book-listing"
                                src=" {{ Post.header_image.url }}"
                                alt="{{ Post.title }}"
                              />
                            </a><br/>
                            {{ Post.snippet|slice:":200" }}
                          </div>
                        </div>
                    </div>
        </div>
                {% endfor %}
            {% else %}

            <h1>There are no posts here yet</h1>

            {% endif %}
{% endblock %}