{% extends 'base.html' %}


{% block content %}
    {% if user.is_authenticated %}
        {% if category_posts %}
            <h1>{{ Category.name }}</h1>
            <ul>
            {% for Post in category_posts %}
                <li><a href="{% url 'movie-detail' Post.pk %}">{{ Post.title }}</a> - {{ Post.author }} - <a href="{% url 'edit-movie' Post.pk %}">Edit Movie</a> <br/>
                {{ Post.body|slice:":200" }}</li>
            {% endfor %}
            </ul>
        {% else %}

            <h1>There are no posts here yet</h1>

        {% endif %}
    {% else %}
            {% if category_posts %}
            <h1>{{ Category.name }}</h1>
            <ul>
            {% for Post in category_posts %}
                <li><a href="{% url 'movie-detail' Post.pk %}">{{ Post.title }}</a> - {{ Post.author }} <br/>
                {{ Post.body|slice:":200" }}</li>
            {% endfor %}
            </ul>
        {% else %}

            <h1>There are no posts here yet</h1>

        {% endif %}
        {% endif %}

{% endblock %}