{% extends 'base.html' %}

{% block content %}

<!-- Start of Hero Section-->  
<section>
    <div class="row">
        <div class="col-12 col-sm-6 d-flex flex-column justify-content-center align-items-center">
            <img src="https://res.cloudinary.com/dq4hocok1/image/upload/v1669606529/filmCamera_wcz97z.jpg">
        </div>
        <div class="col-12 col-sm-6 d-flex flex-column justify-content-center align-items-center">

        </div>
    </div>
</section>
<!-- End of Hero Section-->  

<!-- Start Of What is Watch It-->
<section>
    <div id="watchItInfo">
        <div class="row">
            <div class="col-md-4 mb-4 text-center">
                <br/><h3><strong>What We Do</strong></h3><br/>
                <p>There isn't much to do here</p>
            </div>
            <div class="col-md-4 mb-4 text-center">
                <br/><h3><strong>What We Do</strong></h3><br/>
                <p>Watch it is a website where you are able to place in your movies</p>
            </div>
            <div class="col-md-4 mb-4 text-center">
                <br/><h3><strong>What We Do</strong></h3><br/>
                <p>Watch It is a website that provides anyone to recommend their favorite movies</p>
            </div>
        </div>
    </div>
</section>
<!-- End Of What is Watch It-->

<!--Owl Carousel https://owlcarousel2.github.io/OwlCarousel2/-->
<div class="owl-carousel owl-theme">
    {% for Post in object_list %}
    <div class="item">
      <div class="card h-20 card-home bg-transparent border-0">
        <div class="card-body">
          <a href="{% url 'movie-detail' Post.pk %}">
            <img
              class="card-img-top owl-book-listing"
              src=" {{ Post.header_image.url }}"
              alt="{{ Post.title }}"
            />
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>


<!-- Start of Accordion for FAQ-->
<div class="container">
<h1 class="text-center">Frequently Asked Questions</h1>
    <div class="accordion" id="accordionExample">
        <!--Start of Accordion 1-->
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        How can I register?
                    </button>
                </h5>
            </div>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                Please select "Register" in the navbar, please note that if this button does not show, you are already logged in!
            </div>
        </div>
        <!--End of Accordion 1-->
        <!--Start of Accordion 2-->
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        How can I register?
                    </button>
                </h5>
            </div>
        </div>

        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                Please select "Register" in the navbar, please note that if this button does not show, you are already logged in!
            </div>
        </div>
        <!--End of Accordion 2-->
        <!--Start of Accordion 3-->
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        How can I register?
                    </button>
                </h5>
            </div>
        </div>

        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                Please select "Register" in the navbar, please note that if this button does not show, you are already logged in!
            </div>
        </div>
        <!--End of Accordion 3-->
    </div>
</div>
<!-- End of Accordion for FAQ-->

<!-- Start Contact Section-->
<section id="section-contact">
    <div class="container-fluid">
        <div class="justify-content-center">

            <div class="col-md-12 text-center">
                <strong>Additional Links</strong>
                <div class="col-md-12 d-flex justify-content-center">
                <ul class="list-unstyled">
                    <li class="list-inline-item">
                      <a href="https://www.instagram.com/?hl=en" target="_blank"><i class="fab fa-instagram fa-2x cool-link"></i></a>
                  </li>
                  <li class="list-inline-item">
                      <a href="ttps://twitter.com/" target="_blank"><i class="fab fa-twitter fa-2x cool-link"></i></a>
                  </li>
                  <li class="list-inline-item">
                      <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook fa-2x cool-link"></i></a>
                  </li>
                  </ul>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End of Contact Section-->
 
<!--<ul>
{% for Post in object_list %}
    <li><a href="{% url 'movie-detail' Post.pk %}">{{ Post.title }}</a> - {{ Post.author }} - <a href="{% url 'edit-movie' Post.pk %}">Edit Movie</a> <br/>
    {{ Post.body }}</li>
{% endfor %}
</ul>
 This will run through all posts and show them. This is a for loop so always have an endfor at the end -->

 {% endblock %}