{% extends 'base.html' %}
{% block title %}Edit Movie Recommendation{% endblock %}


{% block content %}

<div class="container">

    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}

        <h1>Edit Movie Recommendation</h1>

        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                <!-- Cross Site Forgery Token / This is so that between acceptance and submission, data cannot be stolen -->
                {{ form.media }}
                {{ form.as_p }}
                <button>Update</button>
        </div>
        {% else %}
        <h1>You cannot edit this page</h1>
        {% endif %}
    {% else %}
        <h1>You are not logged in</h1>
            <button class="nav-link" href="{% url 'registration' %}">Register</button>
            <button class="nav-link" href="{% url 'login' %}">Login</button>
    {% endif %}

</div>
{% endblock %}