{% extends 'base.html' %}
{% block title %}Add Movie Recommendation{% endblock %}
{% block content %}

{% if user.is_authenticated %}
<h1>Add Movie Recommendation</h1>
<br/><br/>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <!-- Cross Site Forgery Token / This is so that between acceptance and submission, data cannot be stolen -->
        {{ form.as_p }}
        <button>Post</button>
</div>
{% else %}
<h1>You are not logged in</h1>
    <button class="nav-link" href="{% url 'registration' %}">Register</button>
    <button class="nav-link" href="{% url 'login' %}">Login</button>
{% endif %}

{% endblock %}